.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: white;
}

.App-header {
  text-align: center;
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.medical-summary {
  text-align: left;
  padding-left: 30%;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

button {
  margin-left:25%;
  background-color: #4CAF50; /* Green */
  color: white;
  border-radius: 2px;
  padding: 10px 24px;
  font-size: 24px;
}

button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.text-container {
  max-width:60%;
  text-align:center;
  margin:0 auto;
}

.medical-overview, .hospital, .FHIR-docs {
  font-size: 18px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
